<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientNameAr</key>
	<string></string>
	<key>clientNameEn</key>
	<string></string>
	<key>primaryColorHex</key>
	<string>73631c</string>
	<key>secondaryColorHex</key>
	<string>FF0000</string>
	<key>tertiaryColorHex</key>
	<string>D8D8D8</string>
	<key>headerColorHex</key>
	<string>838B58</string>
	<key>fawry_black_Hex</key>
	<string>D8D8D8</string>
	<key>fawry_background_Hex</key>
	<string>838B58</string>
	<key>fawry_blue_Hex</key>
	<string>73631c</string>
	<key>fawry_Yellow_Hex</key>
	<string>D8D8D8</string>
</dict>
</plist>
