<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientNameAr</key>
	<string></string>
	<key>clientNameEn</key>
	<string></string>
	<key>headerColorHex</key>
	<string>838B58</string>
	<key>fawry_background_Hex</key>
	<string>FFFFFF</string>
	<key>payment_sheet_separator_color_Hex</key>
	<string>00FFFF</string>
	<key>fawry_blue_Hex</key>
	<string>3498db</string>
	<key>fawry_Yellow_Hex</key>
	<string>00FFFF</string>
	<key>confirm_btn_color_Hex</key>
	<string>00FFFF</string>
	<key>fawry_black_Hex</key>
	<string>00FFFF</string>
	<key>fawry_title_PaymentDetails_Hex</key>
	<string>00FFFF</string>
	<key>fawry_Button_background_Hex</key>
	<string>FFFFFF</string>
</dict>
</plist>
